<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cxense.cxensesdk">

    <application>
        <provider
            android:name=".CxSdkInitProvider"
            android:authorities="${applicationId}.${authority}"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
